* {
    margin: 0;
    padding: 0;
}

/* navbar */
nav {
    width: auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 13px;

}

.logo {
    height: 230px;
    width: 200px;
    padding: 20px;
    padding-top: 27px;
}

nav ul {
    display: flex;

}

nav ul li {
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    font-weight: 600;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav ul li:hover {
    font-size: x-large;
    color: #C39A83;
}

/* landing page */
.landing_page {
    height: 100vh;
    background-color: #fff;
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;

}


.shop_category {
    height: 100vh;
    background-color: #fff;
}

.shop_category .heading,
.featured_products .heading {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shop_category .heading h1,
.featured_products .heading h1 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shop_category .container,
.featured_products .container {
    /* background-color: red; */
    height: auto;
    display: flex;
    flex-direction: row;
}

.shop_category .container .sub-container {
    background-color: #F1F3F2;
    margin: 10px;
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

.shop_category .container .sub-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    height: 40px;
    width: 200px;
}

.shop_category .container .sub-container .box p {
    color: black;
    font-weight: 800;
}

.shop_category .container .sub-container .box span {
    color: #979595;
    font-weight: 800;
    font-stretch: extra-expanded;
}




.featured_products {
    height: auto;
    background-color: #fff;
}

.featured_products .container {
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    
}

.featured_products .container .products {
    height: 100vh;
    background-color:#F1F3F2;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */
footer .box{
    background-color: rgb(228, 232, 228);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

 }
 .box i{
    size: 20px;
    font-size: 30px
    
 }

 .box h3{
    font-size: 20px;
    font-family: sans-serif;
  color: rgb(82, 83, 85);
 }
 .box .box1{
    padding: 25px;
    margin: 20px;
 }
 .box .box2{
    padding: 25px;
    margin: 20px;
 }
 .box .box3{
    padding: 25px;
    margin: 20px;
 }

 footer .copyright{
    background-color: #ccc;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

} 